#map-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
#map {
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --primaryColor: #333;
    --secondaryColor: #f2f2f2;
    --thirdColor: #444;
    --warningColor: #da0000;
    --borderRadius: 2px;
}

#topnav-id {
    background-color: var(--primaryColor);
    overflow: hidden;
}
  
.topnav-class label {
    float: left;
    color: var(--secondaryColor);
    text-align: center;
    padding-left: 6px;
    padding-right: 16px;
    line-height: 48px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    cursor: pointer;
}
  
.topnav-class label:hover {
    filter: brightness(150%); 
}
  
.topnav-class .icon {
    display: none;
}

.topnav-class input {
    height: 24px;
    width: 24px;
    cursor: pointer;
    vertical-align: 0.25%;
}

.topnav-class button {
    display: inline-block;
    outline: none;
    border: 3px solid var(--thirdColor);
    border-radius: var(--borderRadius);
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: var(--primaryColor);
    cursor: pointer;
    height: 36px;
    width: auto;
    padding: 0 12px;
    vertical-align: 0.25%;
    color: var(--secondaryColor);
}    
    
.topnav-class button:hover {
    text-decoration: inherit;
    transition-duration: 0s, 0.15s;
    color: var(--warningColor);
}

.topnav-class label[for=distance] {
    filter: brightness(100%);
    cursor: default;
}

.topnav-class #distance {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    height: 30px;
    width: 72px;
    font-size: 24px;
    vertical-align: 0.25%;
    cursor: text;
}

.topnav-class #distance:hover {
    filter: brightness(150%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.topnav-class input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 1220px) {
    .topnav-class {
        position: absolute;
        z-index: 5;
        border-radius: var(--borderRadius);
        bottom: 32px;
        left: 8px;
    }

    .topnav-class label {display: none;}
    .topnav-class a.icon {
        color: var(--thirdColor);
        padding: 10px 0px 0px 12px;
        width: 40px;
        height: 40px;
        float: left;
        display: block;
    }
}
  
@media screen and (max-width: 1220px) {
    .topnav-class.responsive {
        position: absolute;
    }

    .topnav-class.responsive a.icon {
        position: absolute;
        bottom: 0;
        color: var(--secondaryColor);
    }

    .topnav-class.responsive #options {
        margin-bottom: 40px;
    }

    .topnav-class.responsive label {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 4px;
        padding-bottom: 8px;
        float: none;
        display: block;
        text-align: left;
    }

    .topnav-class.responsive button {
        height: 48px;
        width: 256px;
    }
}  