<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/plane_icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body>
    <div>
      <input type="checkbox" id="follow" name="follow" class="largerCheckbox" checked>
      <label for="follow" class="largerFont">Follow</label>

      <input type="checkbox" id="nosleep" name="nosleep" class="largerCheckbox">
      <label for="nosleep" class="largerFont">Keep screen on</label>
    </div>
    <div id="map"></div>
    <script src="{{ url_for('static', filename='js/nosleep.min.js') }}"></script>
    <script>
      let noSleep = new NoSleep()
      
      let checkbox = document.getElementById('nosleep')
      checkbox.addEventListener('change', function() {
        if(this.checked) {
          noSleep.enable()
        }
        else {
          noSleep.disable()
        }
      })
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key={{ api_key }}&v=weekly" async></script>
  </body>
</html>