:root {
    --primaryColor: #333;
    --secondaryColor: #f2f2f2;
    --thirdColor: #444;
    --warningColor: #da0000;
    --borderRadius: 4px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#map {
    flex: 1;
}

.topnav {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav-section {
    display: flex;
}

.topnav-item {
    padding: 8px;
    display: flex;
    align-items: center;
}

.topnav-item input[type='checkbox'] {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.topnav-item label {
    cursor: pointer;
}

.topnav-item label:hover:not(:active) {
    filter: brightness(125%);
}

.topnav-item button {
    border: 3px solid var(--thirdColor);
    border-radius: var(--borderRadius);
    background: var(--primaryColor);
    cursor: pointer;
    height: 36px;
    color: var(--secondaryColor);
    font-size: inherit;
}

.topnav-item button:hover:not(:active) {
    filter: brightness(125%);
}

.topnav-item input[type='number'] {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    height: 30px;
    width: 72px;
    font-size: inherit;
}

#shutdown {
    color: var(--secondaryColor);
    background-color: var(--warningColor);
    font-size: 22px;
    width: 40px;
    height: 40px;
}

#changeMode {
    font-size: 22px;
    width: 40px;
    height: 40px;
}

#OSM-popup {
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#OSM-popup-data {
    background-color: white;
    border-radius: 8px;
    padding: 12px;
}

#OSM-popup::after {
    transform: translateY(-5px);
    content: '';
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

/* NUMBER INPUT FIELD */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.topnav-class input[type='number'] {
    -moz-appearance: textfield;
}
/* ------------------ */

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#settings-gear {
    cursor: pointer;
}

@media screen and (min-width: 1236px) {
    .gear-wrapper {
        display: none;
    }
}

@media screen and (max-width: 1236px) {
    .topnav {
        position: absolute;
        z-index: 5;
        border-radius: var(--borderRadius);
        bottom: 32px;
        left: 8px;
        padding: 8px 16px 8px 16px;
        flex-direction: column;
    }

    .topnav-section {
        display: none;
    }
    
    .topnav-section.responsive {
        display: flex;
        flex-direction: column;
    }

    .topnav-section.topnav-end {
        flex-direction: row;
    }

    .topnav-center {
        justify-content: center;
    }

    .gear-wrapper {
        width: 100%;
    }
}